body{
	background:#003f08 url('/images/background/main.jpg') no-repeat;
	padding:0;
	margin:0;
}
h1{
	padding-left:20px;
	font-style:italic;
}
ul{
	list-style-image:url('/images/list.gif');
}
img{border:0;}
a{color:#fff;text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}

table{
	width:96%;
	background:#003f08;
	margin:2%;
	font-size:12px;
}
table th, td{
	padding:2px;
	background:#225f29;
	text-align:left;
}
table td{
	background:#9c0;
	text-align:center;
}
table td div{
	white-space:nowrap;
	text-align:left;
}

#top{
	height:129px;
	background-image:url('/images/background/top.jpg');
	padding-bottom:10px;
}
#caption{
	width:360px;
	height:50px;
	background-image:url('/images/background/caption.gif');
	position:relative;
	left:350px;
	padding:2px;
	top:-10px;
	font:bold italic 10pt sans-serif;
	color:white;
	border-top:1px solid white;
	border-bottom:1px solid white;
}
#logo{
	position:relative;
	left:110px;
	top:15px;
	width:215px;
}
#content{
	padding-left:20px;
}
#bottom, #menu{
	height:55px;
	font:bold 8pt sans-serif;
	color:white;
	padding:0 10px;
	background-color:#9c0;
	background-image:url('/images/background/caption.gif');
	border-top:1px solid white;
	border-bottom:1px solid white;
}
#bottom a, #menu a{
	text-decoration:none;
}
#index{
	width:765px;
	height:auto;
	background-color:#9c0;
	bottom:5px;
	margin-left:20%;
}
#sections{
	height:288px;
	padding-left:6px;
}

#sections div{
	float:left;
	width:238px;
	height:278px;
	margin:5px;
}

#sections div img{
	margin:100px 0 0 15px;
}

#about_me{
	background-image:url('/images/background/sections/about_me.gif');
}

#portfolio{
	background-image:url('/images/background/sections/portfolio.gif');
}

#contact_me{
	background-image:url('/images/background/sections/contact_me.gif');
}
.new_count{
	font:bold 12px monospase;
}
#photos{
	margin:10px;
	padding:0;
	background:#9c0;
	display:table;
}
#photos .photo{
	width:140px;
	height:135px;
	background-image:url('/images/background/single_photo.gif');
	margin:0 0 10px 5px;
	float:left;
	padding-top:5px;
}
.photo_handle{
	font:lighter 10px monospase;
	cursor:move;
}
.photo{
	text-align:center;
}

#admin_menu{
	position:fixed;
	top:40%;
	left:85%;
	width:15%;
	background-color:#9c0;
}
#admin_menu a{
	color:black;
}
#flash{
	position:absolute;
	top:0;
	left:0;
	background-color:white;
	width:98%;
	text-align:center;
	padding:1%;
}
#no_script_flash{
	padding:5px;
}
.comment{
	margin:5px;
	padding:5px;
}
.comment .content{
	font-size:12px;
}
.comment em{
	font-size:11px;
}
.comment .avatar, .comment_photo{
	float:left;
	margin:0 5px;
}
.clear{
	clear:both;
}
#comment_form{
	padding-left:20px;
}
#comment_form input{
	margin-bottom:5px;
}
.spam{
	background-image:url('/images/background/comments/spam.gif');
}
.album{
	margin:0 0 10px 10%;
	padding:3px;
	width:80%;
	border-top:1px solid white;
	border-bottom:1px solid white;
	background-image:url('/images/background/caption.gif');
}
.album .cover{
	float:left;
	padding:0 5px;
}
.album strong.title{
	font-size:1.2em;
}
.album em{
	font-size:11px;
}

.photo{
	background-image:url('/images/background/caption.gif');
}

#new_order{
	padding:10px;
}
#new_order div{
	padding-left:20px;
	text-align:center;
}
.order{
	padding:10px 20px;
}
#about_me_content{
	margin:15px 0;
	background-image:url('images/background/caption.gif');
	font:bolder 10pt sans-serif;
	color:white;
}
#about_me_content p{
	padding-left:10px;
}
