<% title t('.title') %>

<% @admin_menu = [
	link_to("Delete purchases", delete_all_purchases_path, :method => :delete)
]%>

<table id="purchases">
	<thead>
		<tr>
			<th>name</th>
			<th>email</th>
			<th>phone</th>
			<th>icq</th>
			<th>description</th>
			<th>*</th>
		</tr>
	</thead>
	<tbody>
		<% if @purchases.any? %>
			<%= render @purchases %>
		<% else %>
		<tr>
			<td colspan="6">No purchases yet</td>
		</tr>
		<% end %>
	</tbody>
</table>