<div id="bottom">
  <% home_link %>&nbsp;
  <%= admin_email %>

<!-- counter.1gb.ru -->
<script language="javascript" type="text/javascript">
cgb_js="1.0"; cgb_r=""+Math.random()+"&r="+
escape(document.referrer)+"&pg="+
escape(window.location.href);
document.cookie="rqbct=1; path=/"; cgb_r+="&c="+
(document.cookie?"Y":"N");
</script><script language="javascript1.1" type="text/javascript">
cgb_js="1.1";cgb_r+="&j="+
(navigator.javaEnabled()?"Y":"N")</script>
<script language="javascript1.2" type="text/javascript">
cgb_js="1.2"; cgb_r+="&wh="+screen.width+
'x'+screen.height+"&px="+
(((navigator.appName.substring(0,3)=="Mic"))?
screen.colorDepth:screen.pixelDepth)</script>
<script language="javascript1.3" type="text/javascript">
cgb_js="1.3"</script>
<script language="javascript"
type="text/javascript">cgb_r+="&js="+cgb_js;
document.write("<a href='http://www.1gb.ru?cnt=38077'>"+
"<img src='http://counter.1gb.ru/cnt.aspx?"+
"u=38077&"+cgb_r+
"&' border=0 width=88 height=31 "+
"alt='1Gb.ru counter'><\/a>")</script>
<noscript><a href='http://www.1gb.ru?cnt=38077'>
<img src="http://counter.1gb.ru/cnt.aspx?u=38077"
border=0 width="88" height="31" alt="1Gb.ru counter"></a>
</noscript>
<!-- /counter.1gb.ru -->
</div>