<div id="about_me_content">
  <div><img src="images/logo_about_me.png"></div>
  <div id="about">Приветствую вас! Меня зовут Эля (Эльнара) Микаилова.
    Я начинающий фотограф с небольшим опытом работы. Но я активно развиваюсь в этом напрвлении, в чем, я думаю, вы убедитесь, посмотрев мои работы.
    Думаю, что дорогостоящие услуги профессиональных фотографов не всегда и не всем по карману,поэтому
    я надеюсь вас порадуют как цены на мои услуги, так и качество сделанных снимков!
    Здесь, на ellephoto.com, собраны мои самые лучшие работы, которые помогут вам составить представление обо мне
    как о фотографе.<br>
    Основные направления съемки - это портрет и пейзаж, а также макросъемка. Могу предложить вам фотосессию
    в городе (на фоне городских пейхажей), а так же на природе, за городом, или в живописном парке. Место предлагаете вы,
    но и я могу помочь вам в выборе, если понадобится. <br>
    Вы можете заказать творческую обработку фотографий (примеры - в категории "Творческая обработка фото").<br>
    Также у вас есть возможность купить понравившиеся фотографии, представленные на сайте, а также заказать
    пейзажную фотографию - вам необходимо будет только  описать, что бы вы хотели на этой фотографии увидеть, и я создам фотографию,
    удовлетворяющую вашим требованиям.
    И если снимок вас устроит, то вы сможете его купить - и тогда вы можете использовать его в каких вам угодно целях:
    поместить в рамочку и повесить на стене, поместить на свой собственный web-сайт, использовать его для создания полиграфической или иной продукции,
    и,конечно, использовать в любом печатном издании как иллюстрацию или элемент графического дизайна.
    <br><br>Теперь представлю здесь форматы фотографий, которые подлежат покупке. Формат всех продаваемых фотографий - jpg.<br>
    Размеры:<br>
    <table>
      <tr>
        <td>Small</td>
        <td>334x503</td>
        <td>11.8 cmx17.6 cm (72dpi)</td>
      </tr>
      <tr>
        <td>Med</td>
        <td>1000x664</td>
        <td>5.6 cmx8.5 cm (300dpi)</td>
      </tr>
      <tr>
        <td>Large</td>
        <td>2583x3888</td>
        <td>21.9 cmx32.9 cm (300dpi)</td>
      </tr>
      <tr>
        <td>Super</td>
        <td>4672x3104</td>
        <td>49.5 cmx32.9 cm (300dpi)</td>
      </tr>
    </table>
    Жду ваших заказов!<br>
    С уважением, ваша Elle Mikailova.
  </div>
</div>
