<% title t('.title') %>

<% @admin_menu = [
	link_to("Delete expired orders", delete_expired_orders_path, :method => :delete)
]%>
<table>
	<thead>
		<tr>
			<th>Contact</th>
			<th>Time</th>
			<th>Description</th>
			<th>Place</th>
			<th>*</th>
		</tr>
	</thead>
	<tbody>
		<% if @orders.any? %>
			<%= render @orders %>
		<% else %>
			<tr>
				<td colspan="5">No orders yet!</td>
			</tr>
		<% end %>
	</tbody>
</table>