development: &defaults
  site_url: "http://localhost"
  images_in_row: 5
  admin_name: admin
  admin_email: developer@mail.ru
  work_email: developer@mail.ru
  category_preview_photos_count: 4
  password: "secret"

test:
  <<: *defaults

production:
  <<: *defaults

deploy:
  application: ftp.elle_photo.ru
  user: elutic
  password: secret
  scm: git
  repository: "git://github.com/User/applicatio.git"
  deploy_to: /home/www/elle_photo
  use_sudo: false
  rails_env: production