<% title h(@album.title) %>

<% caption @album.description %>

<% @admin_menu = [
	link_to("Edit", edit_album_path(@album)),
	link_to("Delete", album_path(@album), :method => :delete, :confirm => t(:confirm)),
	link_to("Add Photos", add_photos_album_path(@album))
] if admin? %>

<% menu this_category_link(@album.category) %>

<div>
	<% @album.photos.in_groups_of(AppConfig.images_in_row, false) do |group| %>
		<div class="photos">
			<%= render :partial => '/photos/photo',
				:collection => group,
				:as => :photo,
				:locals => {:style => :thumb}
		%>
		</div>
	<% end %>
</div>