<% title h(@album.title) %>

<% caption @album.description %>

<% @admin_menu = [
	link_to("Edit", edit_album_path(@album)),
	link_to("Delete", album_path(@album), :method => :delete, :confirm => t(:confirm)),
	link_to("Add Photos", add_photos_album_path(@album))
] if admin? %>

<% menu this_category_link(@album.category) %>

<div id="photos">
	<%= render :partial => 'photos/photo', :collection => @album.photos, :locals => {:style => :thumb} %>
</div>
<%= sortable_element(:photos,
	:url => sort_photos_path,
	:method => :put,
	:tag => :div,
	:handle => :photo_handle,
	:constraint => :horizontal
) if admin? %>
