<% title t('.title') %>
<div id="photos">
	<% @photos.in_groups_of(AppConfig.images_in_row, false) do |group| %>
		<%= render :partial => 'photo', :collection => group, :locals => {:style => :thumb} %>
	<% end %>
</div>
