<div id="sections">
  <div id="about_me"><%= link_to image_tag('coltsfoot.jpg'), about_me_path %></div>
  <div id="portfolio"><%= link_to image_tag('tulip.jpg'), albums_path %></div>
  <div id="contact_me"><%= link_to image_tag('flower.jpg'), new_order_path %></div>
</div>

<%= render @categories %>